<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist</title>
</head>
<body>
    <h1>Playlist</h1>
    <table border = "1">
        <tr>
            <th>title</th>
        </tr>
        <% for (let i= 0; i < data.length; i++){ %>
            <tr>
                <td><%= data[i].title %></td>
            </tr>
        <%} %>
    </table>
</body>
</html>